
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form style="display: inline" action="" method="get"> <button>Create Order</button> </form> 
        <br />
        <form style="display: inline" action="" method="get"> <button>View Order</button> </form>
        <br />
        <form style="display: inline" action="~/Views/Sector/Index.cshtml" method="get"> <button>Admin</button> </form>


    </div>
</body>
</html>
