
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <button type="button">Click Me!</button> 
        <br />
        <button type="button">Click Me!</button> 
        <br />
        <button type="button"><a href="~/Views/Sector/Index.cshtml">admin</a></button> 
        @Html. ("Details", "Index", "Sector")



    </div>
</body>
</html>
